					
._10cb{
	background-position: -8px -8px;
}
._10dr{
	background-position: -144px -8px;
}
._10hr{
	background-position: -280px -8px;
}
._10sb{
	background-position: -416px -8px;
}
._2cb{
	background-position: -552px -8px;
}
._2dr{
	background-position: -688px -8px;
}
/*Row 2*/
					
._2hr{
	background-position: -8px -204px;
}
._2sb{
	background-position: -144px -204px;
}
._3cb{
	background-position: -280px -204px;
}
._3dr{
	background-position: -416px -204px;
}
._3hr{
	background-position: -552px -204px;
}
._3sb{
	background-position: -688px -204px;
}

/*Row 3*/
					

._4cb{
	background-position: -8px -400px;
}
._4dr{
	background-position: -144px -400px;
}
._4hr{
	background-position: -280px -400px;
}
._4sb{
	background-position: -416px -400px;
}
._5cb{
	background-position: -552px -400px;
}
._5dr{
	background-position: -688px -400px;
}
/*Row 4*/
					

._5hr{
	background-position: -8px -596px;
}
._5sb{
	background-position: -144px -596px;
}
._6cb{
	background-position: -280px -596px;
}
._6dr{
	background-position: -416px -596px;
}
._6hr{
	background-position: -552px -596px;
}
._6sb{
	background-position: -688px -596px;
}
/*Row 5*/
					

._7cb{
	background-position: -8px -792px;
}
._7dr{
	background-position: -144px -792px;
}
._7hr{
	background-position: -280px -792px;
}
._7sb{
	background-position: -416px -792px;
}
._8cb{
	background-position: -552px -792px;
}
._8dr{
	background-position: -688px -792px;
}
/*Row 6*/
					

._8hr{
	background-position: -8px -988px;
}
._8sb{
	background-position: -144px -988px;
}
._9cb{
	background-position: -280px -988px;
}
._9dr{
	background-position: -416px -988px;
}
._9hr{
	background-position: -552px -988px;
}
._9sb{
	background-position: -688px -988px;
}
/*Row 7*/
					

._acb{
	background-position: -8px -1184px;
}
._adr{
	background-position: -144px -1184px;
}
._ahr{
	background-position: -280px -1184px;
}
._asb{
	background-position: -416px -1184px;
}
._backside{
	background-position: -552px -1184px;
}
._jcb{
	background-position: -688px -1184px;
}
/*Row 8*/
					

._jdr{
	background-position: -8px -1380px;
}
._jhr{
	background-position: -144px -1380px;
}
._jsb{
	background-position: -280px -1380px;
}
._kcb{
	background-position: -416px -1380px;
}
._kdr{
	background-position: -552px -1380px;
}
._khr{
	background-position: -688px -1380px;
}
/*Row 9*/

._ksb{
	background-position: -8px -1576px;
}
._qcb{
	background-position: -144px -1576px;
}
._qdr{
	background-position: -280px -1576px;
}
._qhr{
	background-position: -416px -1576px;
}
._qsb{
	background-position: -552px -1576px;
}
